@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

body {
    background-color: #f3eef7;
}


nav {
    margin: 60px 0px 0px 0px;
}

#nav-logo img {
    display: block;
    margin: auto;
    max-width: 180px;
}


#nav-container > ul {
    margin: 5px 0px 0px 30px;
    padding: 0px;
}

#nav-container > ul > li {
    position: relative;
    display: inline-block;
    list-style: none;
    margin: 0px 40px 0px 0px;
}

#nav-container > ul > li.active::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -7px;
    width: 14px;
    height: 5px;
    background-color: #02DBB5;
    border-radius: 20px;
}

#nav-container > ul > li > a {
    text-decoration: none;
    font-family: 'Baloo 2', 'sans-serif';
    font-size: 19px;
    font-weight: 600;
    color: #2c2c2c;
}

section {
    font-size: 18px;
    font-weight: 500;
    font-family: 'BALOO 2';
}

section a {
    color: #0ADBF2;
    text-decoration: none;
}

section h1 {
    color: #354259;
    font-family: 'Baloo 2', 'sans-serif';
    margin: 40px 0px;
}

#home-about-container {
    margin: 30vh 0px;
    text-align: center;
}

#challenge-container {
    margin: 20vh 0px;
    text-align: center;
}

#home-about-container .about-me {
    position: relative;
    display: block;
}

.custom-card {
    position: relative;
    padding: 0px 40px;
    margin: auto;
    width: 50%;
    text-align: left;
}

.custom-card::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 4px;
    height: 100%;
    background-color: #02DBB5;
    border-radius: 20px;
}


#challenge-container .challenge-desc {
    position: relative;
    padding: 20px;
    display: block;
    margin: auto;
    width: 50%;
}

#challenge-container .challenge-desc::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 4px;
    height: 100%;
    background-color: #02DBB5;
    border-radius: 20px;
}

#games-container {
    padding: 40px 0px;
    background: rgb(53,66,89);
    background: linear-gradient(0deg, rgba(53,66,89,1) 0%, rgba(114,48,149,1) 100%);
    color: #fff;
    text-align: center;
}

#games-container h4 {
    margin: 20px 0px 40px 0px;
}

#games-container .game-description {
    text-align: left;
    font-size: 14px;
}

#games-container .game-snapshot {
    display: block;
    margin: 40px auto;
    max-width: 100%;
}

#games-container .game-playlink {
    display: block;
    margin: auto;
    width: 256px;
    padding: 20px;
    border-radius: 5px;
    background-color: #0ADBF2;
    color: #fff;
    font-family: 'Baloo 2', 'sans-serif';
    font-size: 20px;
}

.card-title {
    font-size: 20px;
    font-weight: 600;
    vertical-align: middle;
}

.card-icon {
    position: absolute;
    top: 0;
    right: -20px;
    width: 80px;
    opacity: 0.1;
    transition: opacity 0.3s;
}

.card-icon:hover {
    opacity: 0.2;
}

.card-showmore {
    text-align: center;
    font-size: 17px;
    color: #8d8d8d;
}

.expand-text::after{
    content: 'Collapse';
}

.card-showmore.collapsed .expand-text::after{
    content: 'Expand' !important;
}